{
  "openapi": "3.0.0",
  "info": {
    "title": "RevenueCat API v1",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.revenuecat.com/v1"
    }
  ],
  "tags": [
    {
      "name": "transactions",
      "description": "Operations about transactions."
    },
    {
      "name": "customers",
      "description": "Operations about customers."
    },
    {
      "name": "offerings",
      "description": "Operations about offerings."
    },
    {
      "name": "entitlements",
      "description": "Operations about entitlements."
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "proxy-enabled": false
  },
  "paths": {
    "/subscribers/{app_user_id}": {
      "get": {
        "summary": "Get or Create Subscriber",
        "tags": [
          "customers"
        ],
        "description": "Gets the latest subscriber info or creates one if it doesn't exist.",
        "operationId": "subscribers",
        "parameters": [
          {
            "name": "app_user_id",
            "in": "path",
            "description": "The app user ID used with the mobile SDK.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "X-Platform",
            "in": "header",
            "description": "Optionally set the X-Platform header to update the subscriber record's `last_seen` field. Set to either `ios`, `android`, `amazon`, `macos`, `uikitformac`. Don't set this if you are calling the getter for informational purposes or using a secret API key to fetch subscriber attributes.",
            "schema": {
              "type": "string",
              "default": "ios"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"request_date\": \"2019-07-26T17:40:10Z\",\n    \"request_date_ms\": 1564162810884,\n    \"subscriber\": {\n        \"entitlements\": {\n            \"pro_cat\": {\n                \"expires_date\": null,\n                \"grace_period_expires_date\": null,\n                \"product_identifier\": \"onetime\",\n                \"purchase_date\": \"2019-04-05T21:52:45Z\"\n            }\n        },\n        \"first_seen\": \"2019-02-21T00:08:41Z\",\n        \"management_url\": \"https://apps.apple.com/account/subscriptions\",\n        \"non_subscriptions\": {\n            \"onetime\": [\n                {\n                    \"id\": \"cadba0c81b\",\n                    \"is_sandbox\": true,\n                    \"purchase_date\": \"2019-04-05T21:52:45Z\",\n                    \"store\": \"app_store\"\n                }\n            ]\n        },\n        \"original_app_user_id\": \"XXX-XXXXX-XXXXX-XX\",\n        \"original_application_version\": \"1.0\",\n        \"original_purchase_date\": \"2019-01-30T23:54:10Z\",\n        \"other_purchases\": {},\n        \"subscriptions\": {\n            \"annual\": {\n                \"auto_resume_date\": null,\n                \"billing_issues_detected_at\": null,\n                \"expires_date\": \"2019-08-14T21:07:40Z\",\n                \"grace_period_expires_date\": null,\n                \"is_sandbox\": true,\n                \"original_purchase_date\": \"2019-02-21T00:42:05Z\",\n                \"ownership_type\": \"PURCHASED\",\n                \"period_type\": \"normal\",\n                \"purchase_date\": \"2019-07-14T20:07:40Z\",\n                \"refunded_at\": null,\n                \"store\": \"app_store\",\n                \"unsubscribe_detected_at\": \"2019-07-17T22:48:38Z\"\n            },\n            \"onemonth\": {\n                \"auto_resume_date\": null,\n                \"billing_issues_detected_at\": null,\n                \"expires_date\": \"2019-06-17T22:47:55Z\",\n                \"grace_period_expires_date\": null,\n                \"is_sandbox\": true,\n                \"original_purchase_date\": \"2019-02-21T00:42:05Z\",\n                \"ownership_type\": \"PURCHASED\",\n                \"period_type\": \"normal\",\n                \"purchase_date\": \"2019-06-17T22:42:55Z\",\n                \"refunded_at\": null,\n                \"store\": \"app_store\",\n                \"unsubscribe_detected_at\": \"2019-06-17T22:48:38Z\"\n            },\n            \"rc_promo_pro_cat_monthly\": {\n                \"auto_resume_date\": null,\n                \"billing_issues_detected_at\": null,\n                \"expires_date\": \"2019-08-26T01:02:16Z\",\n                \"grace_period_expires_date\": null,\n                \"is_sandbox\": false,\n                \"original_purchase_date\": \"2019-07-26T01:02:16Z\",\n                \"ownership_type\": \"FAMILY_SHARED\",\n                \"period_type\": \"normal\",\n                \"purchase_date\": \"2019-07-26T01:02:16Z\",\n                \"refunded_at\": null,\n                \"store\": \"promotional\",\n                \"unsubscribe_detected_at\": null\n            }\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_date": {
                      "type": "string",
                      "example": "2019-07-26T17:40:10Z"
                    },
                    "request_date_ms": {
                      "type": "integer",
                      "example": 1564162810884,
                      "default": 0
                    },
                    "subscriber": {
                      "type": "object",
                      "properties": {
                        "entitlements": {
                          "type": "object",
                          "properties": {
                            "pro_cat": {
                              "type": "object",
                              "properties": {
                                "expires_date": {},
                                "grace_period_expires_date": {},
                                "product_identifier": {
                                  "type": "string",
                                  "example": "onetime"
                                },
                                "purchase_date": {
                                  "type": "string",
                                  "example": "2019-04-05T21:52:45Z"
                                }
                              }
                            }
                          }
                        },
                        "first_seen": {
                          "type": "string",
                          "example": "2019-02-21T00:08:41Z"
                        },
                        "management_url": {
                          "type": "string",
                          "example": "https://apps.apple.com/account/subscriptions"
                        },
                        "non_subscriptions": {
                          "type": "object",
                          "properties": {
                            "onetime": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "cadba0c81b"
                                  },
                                  "is_sandbox": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "purchase_date": {
                                    "type": "string",
                                    "example": "2019-04-05T21:52:45Z"
                                  },
                                  "store": {
                                    "type": "string",
                                    "example": "app_store"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "original_app_user_id": {
                          "type": "string",
                          "example": "XXX-XXXXX-XXXXX-XX"
                        },
                        "original_application_version": {
                          "type": "string",
                          "example": "1.0"
                        },
                        "original_purchase_date": {
                          "type": "string",
                          "example": "2019-01-30T23:54:10Z"
                        },
                        "other_purchases": {
                          "type": "object",
                          "properties": {}
                        },
                        "subscriptions": {
                          "type": "object",
                          "properties": {
                            "annual": {
                              "type": "object",
                              "properties": {
                                "auto_resume_date": {},
                                "billing_issues_detected_at": {},
                                "expires_date": {
                                  "type": "string",
                                  "example": "2019-08-14T21:07:40Z"
                                },
                                "grace_period_expires_date": {},
                                "is_sandbox": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                },
                                "original_purchase_date": {
                                  "type": "string",
                                  "example": "2019-02-21T00:42:05Z"
                                },
                                "ownership_type": {
                                  "type": "string",
                                  "example": "PURCHASED"
                                },
                                "period_type": {
                                  "type": "string",
                                  "example": "normal"
                                },
                                "purchase_date": {
                                  "type": "string",
                                  "example": "2019-07-14T20:07:40Z"
                                },
                                "refunded_at": {},
                                "store": {
                                  "type": "string",
                                  "example": "app_store"
                                },
                                "unsubscribe_detected_at": {
                                  "type": "string",
                                  "example": "2019-07-17T22:48:38Z"
                                }
                              }
                            },
                            "onemonth": {
                              "type": "object",
                              "properties": {
                                "auto_resume_date": {},
                                "billing_issues_detected_at": {},
                                "expires_date": {
                                  "type": "string",
                                  "example": "2019-06-17T22:47:55Z"
                                },
                                "grace_period_expires_date": {},
                                "is_sandbox": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                },
                                "original_purchase_date": {
                                  "type": "string",
                                  "example": "2019-02-21T00:42:05Z"
                                },
                                "ownership_type": {
                                  "type": "string",
                                  "example": "PURCHASED"
                                },
                                "period_type": {
                                  "type": "string",
                                  "example": "normal"
                                },
                                "purchase_date": {
                                  "type": "string",
                                  "example": "2019-06-17T22:42:55Z"
                                },
                                "refunded_at": {},
                                "store": {
                                  "type": "string",
                                  "example": "app_store"
                                },
                                "unsubscribe_detected_at": {
                                  "type": "string",
                                  "example": "2019-06-17T22:48:38Z"
                                }
                              }
                            },
                            "rc_promo_pro_cat_monthly": {
                              "type": "object",
                              "properties": {
                                "auto_resume_date": {},
                                "billing_issues_detected_at": {},
                                "expires_date": {
                                  "type": "string",
                                  "example": "2019-08-26T01:02:16Z"
                                },
                                "grace_period_expires_date": {},
                                "is_sandbox": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                },
                                "original_purchase_date": {
                                  "type": "string",
                                  "example": "2019-07-26T01:02:16Z"
                                },
                                "ownership_type": {
                                  "type": "string",
                                  "example": "FAMILY_SHARED"
                                },
                                "period_type": {
                                  "type": "string",
                                  "example": "normal"
                                },
                                "purchase_date": {
                                  "type": "string",
                                  "example": "2019-07-26T01:02:16Z"
                                },
                                "refunded_at": {},
                                "store": {
                                  "type": "string",
                                  "example": "promotional"
                                },
                                "unsubscribe_detected_at": {}
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{'message': \"Bad parameters x\"}"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{'message': \"Invalid API key\"}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete Subscriber",
        "tags": [
          "customers"
        ],
        "description": "Permanently deletes a subscriber.",
        "operationId": "delete-subscriber",
        "parameters": [
          {
            "name": "app_user_id",
            "in": "path",
            "description": "The app user id, or alias, of the subscriber.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"app_user_id\": \"XXX-XXXXX-XXXXX-XX\", deleted: True}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/receipts": {
      "post": {
        "summary": "Create a Purchase",
        "tags": [
          "transactions"
        ],
        "description": "Records a purchase for a user from iOS, Android, or Stripe and will create a user if they don't already exist.",
        "operationId": "receipts",
        "parameters": [
          {
            "name": "X-Platform",
            "in": "header",
            "description": "The platform this purchase is for. Either `ios`, `android`, `amazon`, `macos`, `uikitformac`, or `stripe`",
            "required": true,
            "schema": {
              "type": "string",
              "default": "ios"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "app_user_id",
                  "fetch_token"
                ],
                "properties": {
                  "app_user_id": {
                    "type": "string",
                    "description": "App User ID of the user the receipt is associated with."
                  },
                  "fetch_token": {
                    "type": "string",
                    "description": "For iOS, the base64 encoded receipt file, for Android the receipt token, for Amazon the receipt, and for Stripe the subscription ID or the Stripe Checkout Session ID."
                  },
                  "product_id": {
                    "type": "string",
                    "description": "The Apple, Google, or Amazon product identifier or SKU. Required for Google.",
                    "default": "com.my.product.iap"
                  },
                  "price": {
                    "type": "number",
                    "description": "The price of the product. **Required if you provide a currency.**",
                    "default": 1.99,
                    "format": "float"
                  },
                  "currency": {
                    "type": "string",
                    "description": "The currency of the product. The currency must be in [ISO 4217 format](https://en.wikipedia.org/wiki/ISO_4217). **Required if you provide a price.**",
                    "default": "USD"
                  },
                  "payment_mode": {
                    "type": "string",
                    "description": "Optionally used by the iOS SDK to communicate intro pricing periods. Either `pay_as_you_go = 0`, `pay_up_front = 1`, or `free_trial = 2`. Defaults to `2` (free trial) if an introductory period is detected in the receipt but this value is not provided."
                  },
                  "introductory_price": {
                    "type": "number",
                    "description": "Introductory price paid",
                    "format": "float"
                  },
                  "is_restore": {
                    "type": "string",
                    "description": "If true, the fetch token will trigger your configured [restore behavior](https://www.revenuecat.com/docs/restoring-purchases#restore-behavior) for any other users sharing the same fetch token.",
                    "default": "false"
                  },
                  "presented_offering_identifier": {
                    "type": "string",
                    "description": "Optional. The offering that was presented to the user at the time of purchase.  This will be attached to any new transactions in this fetch token and will be available in ETL exports and webhooks. This is mostly useful if you're sending fetch tokens from your backend."
                  },
                  "attributes": {
                    "properties": {
                      "key_name": {
                        "type": "object",
                        "description": "Mapping of key names to subscriber attribute objects. See the [attributes object](ref:subscribers#the-subscriber-attribute-object).",
                        "required": [
                          "value"
                        ],
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The value of the attribute. If the value is `null` or an empty string, the attribute will be deleted."
                          },
                          "updated_at_ms": {
                            "type": "string",
                            "description": "UNIX epoch in milliseconds of when the attribute was updated. This value is used to resolve conflicts, an attribute will only be updated if the new `updated_at_ms` value is newer than the value for the stored attribute.",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "// See the Subscriber object for response fields"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscribers/{app_user_id}/attribution": {
      "post": {
        "summary": "Add User Attribution Data",
        "tags": [
          "customers"
        ],
        "description": "Attaches attribution data to a subscriber from specific supported networks.",
        "operationId": "subscribersattribution",
        "parameters": [
          {
            "name": "app_user_id",
            "in": "path",
            "description": "The app user ID, or alias, of the subscriber.",
            "schema": {
              "type": "string",
              "default": "your user id"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data",
                  "network"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "The data returned by the attribution network callbacks.",
                    "properties": {
                      "rc_idfa": {
                        "type": "string",
                        "description": "The idfa from AdSupport on iOS. (iOS Only)"
                      },
                      "rc_gps_adid": {
                        "type": "string",
                        "description": "The Google Play Services Advertising identifier. (Android Only)"
                      }
                    }
                  },
                  "network": {
                    "type": "string",
                    "description": "The attribution network the data is coming from. See below for possible values.",
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3",
                      "4",
                      "5"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscribers/{app_user_id}/entitlements/{entitlement_identifier}/promotional": {
      "post": {
        "summary": "Grant a Promotional Entitlement",
        "tags": [
          "entitlements"
        ],
        "description": "Grants a user a promotional entitlement. Does not override or defer a store transaction, applied simultaneously.",
        "operationId": "grant-a-promotional-entitlement",
        "parameters": [
          {
            "name": "app_user_id",
            "in": "path",
            "description": "The app user ID, or alias, of the subscriber.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "entitlement_identifier",
            "in": "path",
            "description": "The identifier for the entitlement you want to grant to the user.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "duration"
                ],
                "properties": {
                  "duration": {
                    "type": "string",
                    "description": "How long of a duration to grant the promotional entitlement for. See below for possible values."
                  },
                  "start_time_ms": {
                    "type": "string",
                    "description": "A Unix epoch in milliseconds for when the promotional entitlement should have been considered as started. If not provided, the entitlement will be granted immediately. Future dates will also be granted immediately and will be active until the expiration date lapses.",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "// See the Subscriber object for response fields"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscribers/{app_user_id}/entitlements/{entitlement_identifier}/revoke_promotionals": {
      "post": {
        "summary": "Revoke Promotional Entitlements",
        "tags": [
          "entitlements"
        ],
        "description": "Revokes all promotional entitlements for a given entitlement identifier and app user ID.",
        "operationId": "revoke-promotional-entitlements",
        "parameters": [
          {
            "name": "app_user_id",
            "in": "path",
            "description": "The app user id, or alias, of the subscriber.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "entitlement_identifier",
            "in": "path",
            "description": "The identifier for the entitlement you want to revoke from the user.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "// See the Subscriber object for response fields"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscribers/{app_user_id}/subscriptions/{product_identifier}/revoke": {
      "post": {
        "summary": "Google Play: Refund and Revoke Subscription",
        "tags": [
          "transactions"
        ],
        "description": "Immediately revokes access to a Google Subscription and issues a refund for the last purchase. If you want to refund a one-time Google purchase, see [refund a Google purchase](ref:refund-a-google-subscription).",
        "operationId": "revoke-a-google-subscription",
        "parameters": [
          {
            "name": "app_user_id",
            "in": "path",
            "description": "The app user ID, or alias, of the subscriber.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "product_identifier",
            "in": "path",
            "description": "The identifier of the product belonging to the subscription that is being revoked.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "// See the Subscriber object for response fields"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscribers/{app_user_id}/attributes": {
      "post": {
        "summary": "Update Subscriber Attributes",
        "tags": [
          "customers"
        ],
        "description": "Updates subscriber attributes for a user.",
        "operationId": "update-subscriber-attributes",
        "parameters": [
          {
            "name": "app_user_id",
            "in": "path",
            "description": "The app user id used with the mobile SDK.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "attributes": {
                    "properties": {
                      "key_name": {
                        "type": "object",
                        "description": "Mapping of key names to subscriber attribute objects.",
                        "required": [
                          "value"
                        ],
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The value of the attribute. If the value is `null` or an empty string, the attribute will be deleted."
                          },
                          "updated_at_ms": {
                            "type": "string",
                            "description": "UNIX epoch in milliseconds of when the attribute was updated. This value is used to resolve conflicts, an attribute will only be updated if the new `updated_at_ms` value is newer than the value for the stored attribute.",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "required": [
                      "key_name"
                    ],
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "// See the Subscriber object for response fields"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"code\": 7263,\n  \"message\": \"Some subscriber attributes keys were unable to saved.\",\n  \"attribute_errors\": [\n    {\n      \"key_name\": \"$email\",\n      \"message\": \"Value is not a valid email address.\"\n    },\n    {\n      \"key_name\": \"invalid key name with spaces\",\n      \"message\": \"Key name format is not valid.\"\n    },\n    {\n      \"key_name\": \"too_much_data\",\n      \"message\": \"Value is too long.\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 7263,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Some subscriber attributes keys were unable to saved."
                    },
                    "attribute_errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key_name": {
                            "type": "string",
                            "example": "$email"
                          },
                          "message": {
                            "type": "string",
                            "example": "Value is not a valid email address."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscribers/{app_user_id}/subscriptions/{product_identifier}/defer": {
      "post": {
        "summary": "Google Play: Defer a Subscription",
        "tags": [
          "transactions"
        ],
        "description": "Defers the purchase of a Google Subscription to a later date.",
        "operationId": "defer-a-google-subscription",
        "parameters": [
          {
            "name": "app_user_id",
            "in": "path",
            "description": "The app user ID, or alias, of the subscriber.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "product_identifier",
            "in": "path",
            "description": "The identifier of the product belonging to the subscription that is being revoked.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "expiry_time_ms"
                ],
                "properties": {
                  "expiry_time_ms": {
                    "type": "integer",
                    "description": "The desired next expiry time to assign to the subscription, in milliseconds since the Epoch. The given time must be later/greater than the current expiry time for the subscription.",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "// See the Subscriber object for response fields"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscribers/{app_user_id}/offerings/{offering_uuid}/override": {
      "post": {
        "summary": "Override a Customer's Current Offering",
        "tags": [
          "offerings"
        ],
        "description": "Overrides the current Offering for a specific user",
        "operationId": "override-offering",
        "parameters": [
          {
            "name": "app_user_id",
            "in": "path",
            "description": "The app user ID, or alias, of the subscriber.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "offering_uuid",
            "in": "path",
            "description": "The UUID for the offering you want to set as the override for the user. The UUID can be found in the URL of the offering. For example, the offering UUID in https://app.revenuecat.com/apps/abcd1234/offerings/ofrng1234567abc is `ofrng1234567abc`.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "// See the Subscriber object for response fields"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscribers/{app_user_id}/offerings/override": {
      "delete": {
        "summary": "Remove a Customer's Current Offering Override",
        "tags": [
          "offerings"
        ],
        "description": "Reset the offering overrides back to the current offering for a specific user",
        "operationId": "delete-offering-override",
        "parameters": [
          {
            "name": "app_user_id",
            "in": "path",
            "description": "The app user ID, or alias, of the subscriber.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "// See the Subscriber object for response fields"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscribers/{app_user_id}/offerings": {
      "get": {
        "summary": "Get Offerings",
        "tags": [
          "offerings"
        ],
        "description": "Gets the offerings for your app.",
        "operationId": "get-offerings",
        "parameters": [
          {
            "name": "app_user_id",
            "in": "path",
            "description": "The app user ID used with the mobile SDK. The app user ID doesn't have to exist for the endpoint to work but it can affect the current offering depending on whether you have any [Experiments](doc:experiments) running or have [overridden the current offering](ref:override-offering) for this specific app user ID.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "X-Platform",
            "in": "header",
            "description": "Set the X-Platform header to fetch that platform's packages. Can be `ios`, `android`, `amazon`, or `stripe`.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "ios"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"current_offering_id\": \"default\",\n    \"offerings\": [\n        {\n            \"description\": \"The default offering\",\n            \"identifier\": \"default\",\n            \"packages\": [\n                {\n                    \"identifier\": \"$rc_monthly\",\n                    \"platform_product_identifier\": \"monthly_free_trial\"\n                },\n                {\n                    \"identifier\": \"consumable\",\n                    \"platform_product_identifier\": \"consumable1\"\n                },\n                {\n                    \"identifier\": \"$rc_annual\",\n                    \"platform_product_identifier\": \"yearly_free_trial\"\n                }\n            ]\n        },\n        {\n            \"description\": \"The sale offeringg\",\n            \"identifier\": \"sale_offering\",\n            \"packages\": [\n                {\n                    \"identifier\": \"$rc_monthly\",\n                    \"platform_product_identifier\": \"monthly_free_trial_sale\"\n                },\n                {\n                    \"identifier\": \"consumable\",\n                    \"platform_product_identifier\": \"consumable1_sale\"\n                },\n                {\n                    \"identifier\": \"$rc_annual\",\n                    \"platform_product_identifier\": \"yearly_free_trial_sale\"\n                }\n            ]\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_offering_id": {
                      "type": "string",
                      "example": "default"
                    },
                    "offerings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "example": "The default offering"
                          },
                          "identifier": {
                            "type": "string",
                            "example": "default"
                          },
                          "packages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "identifier": {
                                  "type": "string",
                                  "example": "$rc_monthly"
                                },
                                "platform_product_identifier": {
                                  "type": "string",
                                  "example": "monthly_free_trial"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid Platform": {
                    "value": "{\"code\": 7000, \"message\": \"Invalid Platform.\"}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 7000,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid Platform."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Secret API Key Used": {
                    "value": "{\"code\": 7243, \"message\": \"Secret API keys should not be used in your app.\"}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 7243,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Secret API keys should not be used in your app."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscribers/{app_user_id}/transactions/{store_transaction_identifier}/refund": {
      "post": {
        "summary": "Google Play: Refund and Revoke Purchase",
        "tags": [
          "transactions"
        ],
        "description": "Issues a refund for the most recent purchase of a Google product and revokes access. Works for subscription and non-subscription purchases that occurred in the last 365 days.",
        "operationId": "refund-a-google-subscription",
        "parameters": [
          {
            "name": "app_user_id",
            "in": "path",
            "description": "The app user ID, or alias, of the subscriber.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "store_transaction_identifier",
            "in": "path",
            "description": "The identifier of the transaction to refund. Example: GPA.3309-9122-6177-45730",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "// See the Subscriber object for response fields"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "bearerFormat": "auth-scheme",
        "description": "Bearer HTTP authentication. Allowed headers -- Authorization: Bearer <api_key>",
        "scheme": "bearer",
        "type": "http"
      }
    },
    "schemas": {
      "Subscriber": {
        "type": "object",
        "properties": {
          "request_date": {
            "type": "string",
            "example": "2019-07-26T17:40:10Z"
          },
          "request_date_ms": {
            "type": "integer",
            "example": 1564162810884,
            "default": 0
          },
          "subscriber": {
            "type": "object",
            "properties": {
              "entitlements": {
                "type": "object",
                "properties": {
                  "pro_cat": {
                    "type": "object",
                    "properties": {
                      "expires_date": {},
                      "grace_period_expires_date": {},
                      "product_identifier": {
                        "type": "string",
                        "example": "onetime"
                      },
                      "purchase_date": {
                        "type": "string",
                        "example": "2019-04-05T21:52:45Z"
                      }
                    }
                  }
                }
              },
              "first_seen": {
                "type": "string",
                "example": "2019-02-21T00:08:41Z"
              },
              "management_url": {
                "type": "string",
                "example": "https://apps.apple.com/account/subscriptions"
              },
              "non_subscriptions": {
                "type": "object",
                "properties": {
                  "onetime": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "cadba0c81b"
                        },
                        "is_sandbox": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "purchase_date": {
                          "type": "string",
                          "example": "2019-04-05T21:52:45Z"
                        },
                        "store": {
                          "type": "string",
                          "example": "app_store"
                        }
                      }
                    }
                  }
                }
              },
              "original_app_user_id": {
                "type": "string",
                "example": "XXX-XXXXX-XXXXX-XX"
              },
              "original_application_version": {
                "type": "string",
                "example": "1.0"
              },
              "original_purchase_date": {
                "type": "string",
                "example": "2019-01-30T23:54:10Z"
              },
              "other_purchases": {
                "type": "object",
                "properties": {}
              },
              "subscriptions": {
                "type": "object",
                "properties": {
                  "annual": {
                    "type": "object",
                    "properties": {
                      "auto_resume_date": {},
                      "billing_issues_detected_at": {},
                      "expires_date": {
                        "type": "string",
                        "example": "2019-08-14T21:07:40Z"
                      },
                      "grace_period_expires_date": {},
                      "is_sandbox": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "original_purchase_date": {
                        "type": "string",
                        "example": "2019-02-21T00:42:05Z"
                      },
                      "ownership_type": {
                        "type": "string",
                        "example": "PURCHASED"
                      },
                      "period_type": {
                        "type": "string",
                        "example": "normal"
                      },
                      "purchase_date": {
                        "type": "string",
                        "example": "2019-07-14T20:07:40Z"
                      },
                      "refunded_at": {},
                      "store": {
                        "type": "string",
                        "example": "app_store"
                      },
                      "unsubscribe_detected_at": {
                        "type": "string",
                        "example": "2019-07-17T22:48:38Z"
                      }
                    }
                  },
                  "onemonth": {
                    "type": "object",
                    "properties": {
                      "auto_resume_date": {},
                      "billing_issues_detected_at": {},
                      "expires_date": {
                        "type": "string",
                        "example": "2019-06-17T22:47:55Z"
                      },
                      "grace_period_expires_date": {},
                      "is_sandbox": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "original_purchase_date": {
                        "type": "string",
                        "example": "2019-02-21T00:42:05Z"
                      },
                      "ownership_type": {
                        "type": "string",
                        "example": "PURCHASED"
                      },
                      "period_type": {
                        "type": "string",
                        "example": "normal"
                      },
                      "purchase_date": {
                        "type": "string",
                        "example": "2019-06-17T22:42:55Z"
                      },
                      "refunded_at": {},
                      "store": {
                        "type": "string",
                        "example": "app_store"
                      },
                      "unsubscribe_detected_at": {
                        "type": "string",
                        "example": "2019-06-17T22:48:38Z"
                      }
                    }
                  },
                  "rc_promo_pro_cat_monthly": {
                    "type": "object",
                    "properties": {
                      "auto_resume_date": {},
                      "billing_issues_detected_at": {},
                      "expires_date": {
                        "type": "string",
                        "example": "2019-08-26T01:02:16Z"
                      },
                      "grace_period_expires_date": {},
                      "is_sandbox": {
                        "type": "boolean",
                        "example": false,
                        "default": true
                      },
                      "original_purchase_date": {
                        "type": "string",
                        "example": "2019-07-26T01:02:16Z"
                      },
                      "ownership_type": {
                        "type": "string",
                        "example": "FAMILY_SHARED"
                      },
                      "period_type": {
                        "type": "string",
                        "example": "normal"
                      },
                      "purchase_date": {
                        "type": "string",
                        "example": "2019-07-26T01:02:16Z"
                      },
                      "refunded_at": {},
                      "store": {
                        "type": "string",
                        "example": "promotional"
                      },
                      "unsubscribe_detected_at": {}
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}